.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color:#121212;
}
.p-1{
    padding: 20px;
}
.m-1{
    margin: 5px;
}
.gap-1{
    gap: 20px;
}
.font-s{
   font-size: 16px;
}
.font2{
    font-size: 14px;
}
/* Custom scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background for the scrollbar track */
    border-radius: 6px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; /* Darker color for the draggable part of the scrollbar */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Lighter color when hovering over the thumb */
  }
  
  